:root {
  --border-color: #291d4d;
  --dialog-background: #fff3b4;

  --menu-background: #ffe8d2;
  --menu-border-color: #b9a54f;
  --menu-font-color: #f3f3f3;
  --menu-selected-background: #7fc2ff;
  --text-message-background: rgba(0, 0, 10, 0.6);
  --menu-button-color: #b9a54f;
  --menu-button-hover: #eeda83;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Ribeye", cursive;
}

.game-container {
  position: relative;
  width: 352px;
  height: 208px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}
